@import url('https://fonts.googleapis.com/css?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
// Boostrap Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

html {
  font-family: Electrolize, Arial;
  margin: 0px;
  height: 100%;
}

// Colors
$darkest-grey: #181818;
$darker-grey: #323232;
$dark-grey: #454545;
$grey: #606060;
$white: #FFFFFF;

// Animated graident which can be extended to a class
.animated-gradient {
  background: linear-gradient(270deg, #59a2ff, #c059ff, #ff5959);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

body {
  margin: 0px;
  height: 100%;
  background-color: $darkest-grey;
  color: $white;
}

p {
  font-size: 1em;
  text-align: center;
  color: $white;
}

.disclaimer {
  color: $grey;
  max-width: 300px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  color: white;
  background-color: $darker-grey;
  font-size: 1.5em;
}

#header-logo {
  margin-right: 10px;
}

#request-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: 20px;
}

#content {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}

label {
  align-self: flex-start;
  margin-bottom: 3px;
  font-size: 10pt;
  color: grey;
}

input {
  padding: 4px;
  border-radius: 6px;
  height: 34px;
  font-weight: 600;
  margin-bottom: 17px;
  margin-top: 2px;

  &:focus {
    border: 3px solid $white;
    outline: none;
    padding: 3px;
  }
}

#address-field {
  width: 400px;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  color: $white;
  @extend .animated-gradient;
  height: 34px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 1em;

  &:disabled {
    background-color: $grey;
  }
}

#success-message {
  display: none;
}

#error-message {
  display: none;
}

#rate-limit-error-message {
  display: none;
}

.loader {
  display: none;
  border: 4px solid white;
  border-top: 4px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.footer {
  margin: auto;
  ul {
  list-style: none;
    li {
      padding: 0.5em;
      display: inline;
      a {
        font-size: 2em;
        color: $grey;
      }
      a:hover {
        animation: color-change 2s normal;
      }
    }
  }
}

@keyframes color-change {
  0% { color: $grey; }
  30% { color: lightgrey; }
  100% { color: $white; }
}
