@import url('https://fonts.googleapis.com/css?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
// Boostrap Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

html {
  font-family: Electrolize, Arial;
  margin: 0px;
  height: 100%;
}

// Colors
$darkest-grey: #181818;
$darker-grey: #323232;
$dark-grey: #454545;
$grey: #606060;
$white: #FFFFFF;
$link: #4394fd;
$link-hover: #2c64ad;
$green: #a7f7a0;
$red: #ff6c6c;

body {
  margin: 0px;
  height: 100%;
  background-color: $darkest-grey;
  color: $white;
}

p {
  font-size: 1em;
  text-align: center;
  color: $white;
}

a {
  color: $link;
  text-decoration: none;
}

a:hover {
  color: $link-hover;
}

.card {
  background-color: $darker-grey;
  max-width: 400px;
  border-radius: 0.5em;
}

.card-content {
  padding: 2em;
}
.social-links-wrapper {
  margin-top: 1.5em;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  color: white;
  background-color: $darker-grey;
  font-size: 1.5em;
}

#header-logo {
  margin-right: 10px;
}

#request-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5em;
  margin-top: 20px;
}

#content {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}

label {
  align-self: flex-start;
  margin-bottom: 1em;
  font-size: 10pt;
  color: rgb(189, 189, 189);
  margin-bottom: 16px;
  line-height: 1.5em;
}

input {
  padding: 4px;
  border-radius: 6px;
  height: 34px;
  font-weight: 600;
  margin-bottom: 17px;
  margin-top: 2px;

  &:focus {
    border: 3px solid $white;
    outline: none;
    padding: 3px;
  }
}

#address-field {
  width: 320px;
  background-color: $darkest-grey;
  color: white;
}

.checkbox {
  width: 1.5em;
  height: 1.5em;
  margin-bottom: 3px;
  margin-right: 10px;
  position: relative;
  top: 0.3em;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  color: $darker-grey;
  height: 34px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 1em;
  background-color: $white;
  cursor: pointer;
  margin-top: 1em;

  &:disabled {
    background-color: $grey;
    color: $dark-grey;
    cursor: not-allowed;
  }
}

#success-message {
  display: none;
  color: $green;
  background-color: $darkest-grey;
  padding: 1em;
  border-radius: 0.5em;
}

#error-message {
  display: none;
  color: $red;
  background-color: $darkest-grey;
  padding: 1em;
  border-radius: 0.5em;
}

#rate-limit-error-message {
  display: none;
}

.loader {
  display: none;
  border: 4px solid white;
  border-top: 4px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}