html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  margin: 0px;
  height: 100%;
}

$primaryColor: #1a1b23de;
$accentColor: #2094f3;
$textColor: #e9ebfc;
$backgroundColor: #121212;

body {
  margin: 0px;
  height: 100%;
  background-color: $backgroundColor;
  color: $textColor;
}

p {
  font-size: 1em;
  text-align: center;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

#header-logo {
  margin-right: 10px;
}

#request-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: 20px;
}

#content {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primaryColor;
  flex: 2;
}

label {
  align-self: flex-start;
  margin-bottom: 3px;
  font-size: 10pt;
  color: grey;
}

input {
  padding: 4px;
  border-radius: 12px;
  height: 34px;
  font-weight: 600;
  margin-bottom: 17px;
  margin-top: 2px;

  &:focus {
    border: 3px solid #2094f3;
    outline: none;
    padding: 3px;
  }
}

#address-field {
  width: 400px;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  color: $primaryColor;
  background-color: #2094f3;
  height: 34px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 1em;

  &:disabled {
    background-color: #4e4e4e;
  }
}

#success-message {
  display: none;
}

#error-message {
  display: none;
}

#rate-limit-error-message {
  display: none;
}

.loader {
  display: none;
  border: 4px solid white;
  border-top: 4px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}